
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Trirong", sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;

$bg-color: #4ea6ca;
$bg-color-noise: #626262;

$color1: #032430;

$color3: #565656;
